In [5]:
import pandas as pd
data= {
    "Ad":["Ahmet","Ayse","Mehmet"],
    "Yas":[25,30,22],
    "Sehir": ["Istanbul","Ankara","Izmir"]
       }
df=pd.DataFrame(data)
print("DataFrame:\n",df)
df2=pd.read_csv("Toyota_Data.csv")
print("İlk 5 Satır:\n", df2.head())
df["Maas"]=[4000,5000,6000]
print("DataFrame:\n",df)
filtered_df=df[df["Yas"]>25]
print("Filtered DataFrame:\n",filtered_df)
print(filtered_df)

DataFrame:
        Ad  Yas     Sehir
0   Ahmet   25  Istanbul
1    Ayse   30    Ankara
2  Mehmet   22     Izmir
İlk 5 Satır:
          Date  Adj Close     Close      High       Low      Open  Volume
0  1980-03-17   2.296798  3.291227  3.344743  3.291227  0.000000   41109
1  1980-03-18   2.306134  3.304606  3.358122  3.304606  0.000000    9343
2  1980-03-19   2.306134  3.304606  3.304606  3.304606  3.304606       0
3  1980-03-20   2.306134  3.304606  3.358122  3.304606  0.000000   10277
4  1980-03-21   2.362154  3.384880  3.438396  3.384880  0.000000    8409
DataFrame:
        Ad  Yas     Sehir  Maas
0   Ahmet   25  Istanbul  4000
1    Ayse   30    Ankara  5000
2  Mehmet   22     Izmir  6000
Filtered DataFrame:
      Ad  Yas   Sehir  Maas
1  Ayse   30  Ankara  5000
     Ad  Yas   Sehir  Maas
1  Ayse   30  Ankara  5000

In [13]:
print("Yas_ortalmasi:",df["Yas"].mean())

Yas_ortalmasi: 25.666666666666668

In [14]:
print("Maas_ort:",filtered_df["Maas"].mean())

Maas_ort: 5000.0

In [2]:
import pandas as pd
data= {
    "Ürün":["A","B","C"],
    "Fiyat":[50,100,150],
    "Satis":[10,20,15]
}
df=pd.DataFrame(data)
ortalama_satis=df["Satis"].mean()
print("Ortalama Satis:",ortalama_satis)

Ortalama Satis: 15.0

In [9]:
data = {
    "Ad": ["Ahmet", "Ayşe", "Mehmet", "Fatma"],
    "Yas": [25, 30, 22, 27],
    "Maas": [4000, 5000, 3500, 4500]
}
df = pd.DataFrame(data)

yas_kolon = df["Yas"]
print("Yas Kolonu:\n", yas_kolon)
filtre2 = df[(df["Yas"] > 25) & (df["Maas"] > 4000)]
print("25 Yaş Üstü ve Maaşı 4000'den Fazla Olanlar:\n", filtre2)
df["Yeni Maas"]=df["Maas"]*1.1
print("Maas Artisi:\n",df)
df["Yas_Kategorisi"]=["Genc" if yas<30 else "Orta_Yas" for yas in df["Yas"]]
print("Yas Kategorisi:\n",df)

Yas Kolonu:
 0    25
1    30
2    22
3    27
Name: Yas, dtype: int64
25 Yaş Üstü ve Maaşı 4000'den Fazla Olanlar:
       Ad  Yas  Maas
1   Ayşe   30  5000
3  Fatma   27  4500
Maas Artisi:
        Ad  Yas  Maas  Yeni Maas
0   Ahmet   25  4000     4400.0
1    Ayşe   30  5000     5500.0
2  Mehmet   22  3500     3850.0
3   Fatma   27  4500     4950.0
Yas Kategorisi:
        Ad  Yas  Maas  Yeni Maas Yas_Kategorisi
0   Ahmet   25  4000     4400.0           Genc
1    Ayşe   30  5000     5500.0       Orta_Yas
2  Mehmet   22  3500     3850.0           Genc
3   Fatma   27  4500     4950.0           Genc

In [16]:
data = {
    "Bölüm": ["A", "A", "B", "B", "C"],
    "Çalısan Sayisi": [10, 15, 10, 5, 8],
    "Gelir": [10000, 15000, 8000, 5000, 7000]
}
df = pd.DataFrame(data)
grup=df.groupby(["Bölüm"]).sum()
print(grup)
#print("Gruplama Sonuçları:\n", grup)
ortalama_gelir=df.groupby(["Bölüm"])["Gelir"].mean()
print(ortalama_gelir)
print("ortalama_gelir:\n",ortalama_gelir)

       Çalısan Sayisi  Gelir
Bölüm
A                  25  25000
B                  15  13000
C                   8   7000
Bölüm
A    12500.0
B     6500.0
C     7000.0
Name: Gelir, dtype: float64
ortalama_gelir:
 Bölüm
A    12500.0
B     6500.0
C     7000.0
Name: Gelir, dtype: float64

In [2]:
import pandas as pd

data = {
    "Ad": ["Ahmet", "Ayşe", "Mehmet", None],
    "Yas": [25, None, 22, 27],
    "Maas": [4000, 5000, None, 4500]
}
df = pd.DataFrame(data)
df["Yas"]=df["Yas"].fillna(df["Yas"].mean())
print(df)
df_dropped = df.dropna()
print("Eksik Veriler Kaldırıldı:\n", df_dropped)

       Ad        Yas    Maas
0   Ahmet  25.000000  4000.0
1    Ayşe  24.666667  5000.0
2  Mehmet  22.000000     NaN
3    None  27.000000  4500.0
Eksik Veriler Kaldırıldı:
       Ad        Yas    Maas
0  Ahmet  25.000000  4000.0
1   Ayşe  24.666667  5000.0

In [3]:
data = {
    "Bölüm": ["A", "A", "B", "B", "C"],
    "Calisan": ["Ali", "Ayşe", "Mehmet", "Fatma", "Ahmet"],
    "Gelir": [10000, 15000, 8000, 5000, 7000]
}
df = pd.DataFrame(data)
pivot= df.pivot_table(values="Gelir",index="Bölüm",columns="Calisan",fill_value=0)
print(pivot)

Calisan   Ahmet      Ali     Ayşe   Fatma  Mehmet
Bölüm
A           0.0  10000.0  15000.0     0.0     0.0
B           0.0      0.0      0.0  5000.0  8000.0
C        7000.0      0.0      0.0     0.0     0.0

In [4]:
data = {
    "Tarih": ["2024-01-01", "2024-02-01", "2024-03-01"],
    "Gelir": [10000, 15000, 20000]
}
df = pd.DataFrame(data)

# Tarihleri datetime formatına çevirme
df["Tarih"] = pd.to_datetime(df["Tarih"])

# Ay bilgisi alma
df["Ay"] = df["Tarih"].dt.month
print("Ay Bilgisi:\n", df)

# Tarih aralığına göre filtreleme
filtered = df[(df["Tarih"] >= "2024-02-01") & (df["Tarih"] <= "2024-03-01")]
print("Filtrelenmiş Tarihler:\n", filtered)

Ay Bilgisi:
        Tarih  Gelir  Ay
0 2024-01-01  10000   1
1 2024-02-01  15000   2
2 2024-03-01  20000   3
Filtrelenmiş Tarihler:
        Tarih  Gelir  Ay
1 2024-02-01  15000   2
2 2024-03-01  20000   3